<div id="ipsum-container">

    <select id="decade-dropdown" type="number" ng-model="selectedDecade" ng-options="x for x in availableDecades"></select>
    <a class="btn" ng-click="searchDecadeButton()">CREATE IPSUM</a>

    <select id="genre-dropdown" type="number" ng-model="selectedGenre" ng-options="y for y in availableGenres"></select>
    <a class="btn" ng-click="searchGenreButton()">CREATE IPSUM</a>

    <input class="form-control" type="text" placeholder="Search Artist" ng-model="artistSearchInput">
    <a class="btn" ng-click="searchArtistButton()">CREATE IPSUM</a>

    <div class="ipsum-container">
        <p ng-show="ipsum.length">{{ipsum}}</p>
    </div>

</div>