input:focus,
select:focus,
textarea:focus,
a:focus,
a:active,
.btn:focus,
.btn:active,
.no-border-btn:focus,
.no-border-btn:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

body {
    /*background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    background-color: #363a49;
    font-family: 'Scope One', serif;
    color: #eef7fd;
}

select, .input-field {
    color: #363a49;
    width: 200px;
    margin: 10px;
    padding: 5px;
}

.input-field:focus, select:focus, textarea:focus {
    color: #363a49;
}

a, a:hover, .btn:hover, .large-btn:hover {
    color: #eef7fd;
}

.primary-logo {
    width: 65%;
    margin-top: 10%;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

h1 {
    font-family: 'Scope One', serif;
    letter-spacing: 0.2rem;
    text-align: center;
}

h4 {
    font-family: 'Scope One', serif;
    letter-spacing: 0.2rem;
}

.btn {
     background-color: #886a29;
}

.btn:hover {
    opacity: 0.8;
}

.large-btn {
    width: 200px;
    margin: 10px;
}

