input:focus,
select:focus,
textarea:focus,
a:focus,
a:active,
.btn:focus,
.btn:active,
.no-border-btn:focus,
.no-border-btn:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

body {
    /*background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    background-color: #141414;
    font-family: 'Scope One', serif;
    color: white;
}

.primary-logo {
    width: 65%;
    margin-top: 5%;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

h1 {
    font-family: 'Scope One', serif;
    letter-spacing: 0.2rem;
    text-align: center;
}

h3 {
    font-family: 'Scope One', serif;
    letter-spacing: 0.2rem;
}

.btn {
     background-color: white;
}

.large-btn {
    width: 200px;
    margin: 10px;
}

select, .input-field {
    width: 200px;
    margin: 10px;
    padding: 5px;
}


